a {
    text-decoration: none;
    color: black;
}

.nav-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

.nav-grid-container > li {
    float: left;
    font-size: 24px;
}
.nav-grid-container a {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
}

.nav-grid-container a:hover:not(.active) {
    background-color: rgb(99, 99, 99);
}

.nav-grid-container .active {
    color: white;
    background-color: rgb(105, 140, 255);
}

.skip-to-main {
    position: absolute;
    overflow: hidden;
    top: auto;
    left: -10000px;
}

.skip-to-main:focus {
    left: 12px;
    top: 55px;
    color: black;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.grid-container > h3 {
    text-align: center;
    grid-column: 1 / span 2;
}

.grid-container > h2, .grid-container > p {
    grid-column: 1 / span 2;
    text-align: center;
}

.grid-container > img-desc {
    align-items: center;
    justify-content: space-around;
}