h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

p {
    padding: 20px;
}

ul li {
    list-style-type: circle;
}

a {
    text-decoration: none;
    color: black;
}

b {
    font-weight: bold;
}

.nav-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-grid-container > li {
    float: left;
    font-size: 24px;
    list-style-type: none;
}

.nav-grid-container a {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
}

.nav-grid-container a:hover:not(.active), .nav-grid-container a:focus:not(.active) {
    background-color: rgb(99, 99, 99);
}

.nav-grid-container .active {
    color: white;
    text-decoration: underline;
    background-color: rgb(105, 140, 255);
}


.skip-to-main {
    position: absolute;
    overflow: hidden;
    top: auto;
    left: -10000px;
}

.skip-to-main:focus {
    left: 12px;
    top: 55px;
    color: black;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.likes-list {
    padding-left: 50px;
    padding-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 40px;
}

.grid-container div {
    display: inline;
}

.grid-container > h2, .grid-container > .photo-gallery, .grid-container > h3 {
    grid-column: 1 / span 2;
    text-align: center;
}

.grid-container > .img-desc {
    text-align: center;
    justify-content: center;
}

.grid-container img, .grid-container video, .img-desc > p {
    width: 400px;
}

@media only screen and (max-width: 600px) {
    .grid-container img, .grid-container video, .img-desc > p {
        width: 100%;
    }
}